/*TODO:Неймспейсы*/

/*Basic fonts ==========================*/
/*Вопрос: все это подключать?*/
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), url('Gilroylight.woff2') format('woff2'), url('Gilroylight.woff') format('woff'), url('Gilroylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('Gilroyextrabold.woff2') format('woff2'), url('Gilroyextrabold.woff') format('woff'), url('Gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 2;
  color: #464646;
  letter-spacing: 0.01em;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  padding: 0 60px;
  margin: 0;

  font-weight: 800; /*Extra Bold*/
  font-size: 47px;
  line-height: 1.2;
  color: black;
  
  /*TODO: strange margin*/
}

h2 {
  font-weight: 800; /*Extra Bold*/
  font-size: 47px;
  line-height: 1.2;
  color: black;
}

.logo {
  font-family: "Gilroy ExtraBold", "Tahoma", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.01em; /*Check: не подходит немного!*/
  text-transform: uppercase;
}

.header-navigation {
  font-family: "Gilroy ExtraBold", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em; /*Check: не подходит немного!*/
  text-transform: uppercase;
}

/*Basic form sizing---------------*/
.container {
  width: 1160px;
  margin: 0 auto;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 45px;
  padding: 0 60px;

  list-style: none;
  font-size: 0;
}

.breadcrumbs li{
  display: inline-block;
  vertical-align: middle;

  font-size: 16px; /*TODO: CHECK*/
}

/*Header -------------------------*/
.main-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 42px 60px;
  margin-top: 40px;
  margin-bottom: 32px;

  background-color: #f7e296;
}

.main-header .logo {
  margin-top: -71px;
  margin-bottom: 15px;
  margin-left: -4px;

  color: black;
  background-color: transparent;
}
.main-header .logo:hover {
  color: #464646;
}
.main-header .logo:active {
  color: #666666;
}

.main-header a {
  color: black;
  text-decoration: none;
}
.main-header a:hover {
  opacity: 0.6;
}
.main-header a:active {
  opacity: 0.3;
}

.main-header .content-line {
  display: flex;
  justify-content: space-between;
}

.main-header .content-left {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.main-header .content-right {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.header-tools {
  margin-bottom: 35px;
}

.header-tools .login {
  margin-right: auto;
}

.header-tools a{
  padding-left: 28px;
}

.header-tools .compare {

}

.header-tools .cart {
}

.header-navigation .content-left {
  position: relative;
}

.header-catalog-contents {
  position: absolute;
  width: 1040px;
  top: 50px;
  right: 0;
  left: -60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  z-index: 100;

  display: none;
  list-style: none;
  background-color: #f7e296;
}

.header-catalog-line {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;

  list-style: none;
  font-size: 0;
} 

.header-catalog-line li{
  display: inline-block;
  vertical-align: middle;

  font-size: 0; /*TODO: CHECK*/
}

.header-navigation .contacts {
  margin-left: auto;
}

.header-index-bottom {
  padding: 60px 0;
}

/*Footer--------------------------*/
.main-footer {
  padding: 64px 0;
  background-color: #464646;
}

.main-footer .content-line{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popup-contact {
  display: none;
}

.footer-phone, .footer-address {
  /*TODO: tmp*/
  color: white;
}

/*================================*/
/*============INDEX===============*/
/*================================*/

/*Promo---------------------------*/
.index-promo {
  position: relative;
  margin-top: -145px;
  margin-bottom: 95px;
}

.index-promo input[type=radio] {
  display: none;
}

.promo-controls {
  position: absolute;
  top: 315px; 
  right: 84px;

  /*margin: 0;
  padding: 0;*/

  font-size: 0;
}

.promo-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  border-radius: 50%;
  border: 3px solid black;
  vertical-align: middle;
  cursor: pointer;

  font-size: 16px; /*Check: НЕ надо*/
}

.promo-slides {
  width: 300%;
}

.promo-slides .promo-item {
  display: flex;
  float: left;
  width: 1160px;
}

.promo-inner {
  overflow: hidden;
}

.promo-item {
  display: flex;
  justify-content: flex-start;
}

.promo-item img{
  width: 560px;
  height: 497px;
}

.promo-item .content-left {
  margin-right: 40px;
}

.promo-item .content-right {
  position: relative;

  padding-right: 60px;
}

.promo-item-count {
  position: absolute;
  /*TODO: temp values*/
  top: 0;
  right: 60px;
}

.promo-item-title {
  /*TODO: temp values*/
  margin-top: 77px;
  margin-bottom: 7px;
}

.promo-item p {
  /*TODO: temp values*/
  margin-bottom: 45px;
}

.promo-item .btn {
  /*TODO: temp values*/
  margin-bottom: 75px;
}

.promo-item-details {
  margin: 0;
  padding: 0;

  font-size: 0;
}

.promo-item-detail {
  display: inline-block;
  vertical-align: middle;

  font-size: 16px; /*check*/ 
}

.promo-item-detail span {
  display: block; /*TODO: поменять как подойдет*/
}

/*catalog-----------------------*/

.index-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 180px;
}

.index-catalog-division img {
  width: 160px;
  height: 160px;
  margin-bottom: 37px;
  background-color: #f7e296;
}

.index-catalog-division h4 {
  display: block;
  width: 160px;
  margin: 0;/*TODO: browser padding?*/
}

/*Services-------------------------*/
.index-services {
  margin-bottom: 94px;
  background-color: #e5e5e5;
}

.index-services input[type=radio] {
  display: none;
}

.index-services-content {
  position: relative;/*TODO: проверка по другим браузерам: вроде ОК*/
  display: flex;
  top: -70px;
}

.index-services-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 277px;/*Вопрос: почему ширина не работает?*/
  padding: 79px 0;
  margin-right: 116px;
  /*TODO: Граница больше фона: relative и отрицательный топ не работают*/
  border-right: 7px solid black;
}

.index-services-list .btn{
  /*TODO только для первичной разметки*/
  min-height: 40px;
}

.index-services-inner {
  overflow: hidden;
  width: 760px;
}

.index-services-slides {/*Вертикальная анимация - вертикальный скроллер?*/
  width: 300%;
}

.index-service { /*Вопрос: норм или лучше классы для понятности?*/
  float: left;
  width: 760px;

  background-repeat: no-repeat;
  background-size: 180px 196px;
  background-position: right 50px center;
}

.index-service p{ /*Вопрос: норм или лучше классы для понятности?*/
  width: 460px;
}

.index-services-delivery {
  background-image: url("../img/services-delivery.png");
}

.index-services-warranty {
  background-image: url("../img/services-warranty.png");
}

.index-services-credit {
  background-image: url("../img/services-credit.png");
}

/*Brands--------------------------*/
.index-brands {
  display: flex;
  justify-content: space-between;
}

/*Info----------------------------*/
.index-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.index-info section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
}

.index-info .popup-map {
  display: none;
  position: absolute;
}

/*================================*/
/*============CATALOG=============*/
/*================================*/
.catalog {
  display: flex;
  justify-content: center;
}

.catalog-left,
.catalog-right{
  flex-grow: 1;
}

.catalog-left, 
.catalog-right {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/*---left---*/
.catalog-left-header {
  display: flex;
  justify-content: flex-end;
  background-color: #dcdcdc;
}

.catalog-filter-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #efefef;
  flex-grow: 1;
}

.catalog-left-header > * ,
.catalog-filter-block > * {
  width: 200px;
  padding-left: 80px;
  padding-right: 68px;
}

/*---right---*/
.catalog-right-header {
  display: flex;
  justify-content: flex-start;
  background-color: #efefef;
}

.catalog-content-block {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-right-header > *,
.catalog-content-block > * {
  width: 760px;
  padding-left: 72px;
  padding-right: 20px;
}

.catalog-content-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 70px;
}

.catalog-sorting-block {
  display: flex;
  justify-content: space-between;
}

.catalog-sorting-types {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.catalog-sorting-types li{
  display: inline-block;
  vertical-align: middle;

  font-size: 16px; /*TODO: CHECK*/
}

.catalog-content-item {
  position: relative;
  margin-bottom: 45px;
}

.catalog-content-item .btn, 
.catalog-content-item .compare{
  position: absolute;
  /*TODO: temp*/
  display: none;
}

.catalog-content-item .price-box {
  display: flex;
  justify-content: space-between;
}

.catalog-pages-block {
  display: flex;
  padding-right: 0;
  padding-left: 0;
  margin-right: 20px;
  margin-left: 73px;
  margin-bottom: 73px;
  justify-content: space-between;
  background-color: #efefef;
}

.catalog-pages-block > *{
  padding: 20px 30px;
}
/*ВОПРОС: цвета?*/