/*Check: promo-item-count залезает на заголовок промо*/
/*Check: firefox fonts?*/
/*check: реализация btn*/

/*Basic fonts ==========================*/
/*Вопрос: все это подключать?*/
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), url('Gilroylight.woff2') format('woff2'), url('Gilroylight.woff') format('woff'), url('Gilroylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('Gilroyextrabold.woff2') format('woff2'), url('Gilroyextrabold.woff') format('woff'), url('Gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.01em;
  color: #464646;
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  padding: 0 60px;
  margin: 0;

  font-weight: 800; /*Extra Bold*/
  font-size: 48px;
  line-height: 1.2;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
}

h2 {
  font-family: "Gilroy ExtraBold", "Tahoma", sans-serif;
  font-size: 47px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: black;
  text-decoration: none;
  background-color: inherit;
}

h3 {
  font-family: "Gilroy ExtraBold", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  background-color: inherit;
}

h4 {
  font-family: "Gilroy ExtraBold", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: black;
  text-decoration: none;
  background-color: inherit;
}

.logo {
  font-family: "Gilroy ExtraBold", "Tahoma", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.01em; /*Check: не подходит немного!*/
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  position: relative;


  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn span {
  display: inline-block;
  padding: 9px 42px;

  position: relative;

  font-family: "Gilroy ExtraBold", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  vertical-align: top;
  text-align: center;
  color: black;
  text-transform: uppercase;
  text-decoration: none;

  z-index: 2;
}
.btn::after {
  position: absolute;
  top: 50%;
  left: 0; 
  right: 0;
  z-index: 1;

  height: 7px;
  margin-top: -4px;

  background-color: #f0c52e;
  content: "";
}
.btn:hover::after,
.btn:active::after {
  top: 0;
  bottom: 0;

  margin-top: 0;
  height: 100%;
}
.btn:active span {
  opacity: 0.3;
}

/*Basic form sizing===============*/
.container {
  width: 1160px;
  margin: 0 auto;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 45px;
  padding: 0 60px;

  list-style: none;
  font-size: 0;
}

.breadcrumbs li{
  display: inline-block;
  vertical-align: middle;

  font-size: 16px; /*TODO: CHECK*/
}

/*Header==========================*/
.main-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 42px 60px;
  margin-top: 40px;
  margin-bottom: 32px;

  background-color: #f7e296;
}

.main-header a {
  color: black;
  text-decoration: none;

  vertical-align: top;
}
.main-header a:hover {
  opacity: 0.6;
}
.main-header a:active {
  opacity: 0.3;
}

.main-header .logo {
  margin-top: -71px;
  margin-bottom: 15px;
  margin-left: -4px;

  color: black;
  background-color: transparent;
}
.main-header .logo:hover {
  color: #464646;
  background-color: inherit;
}
.main-header .logo:active {
  color: #666666;
  background-color: inherit;
}

.main-header .content-line {
  display: flex;
  justify-content: space-between;
}

.main-header .content-left {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.main-header .content-right {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.header-tools {
  margin-bottom: 35px;
}

/*Search form----------*/
.search-form {
  display: flex;
  position: relative;
}

.search-form:before {
  content: "";
  position: absolute;
  top: 8px; /*Check: by icon size*/
  left: 3px;/*Check: by icon size*/

  width: 18px;
  height: 18px;

  background: #f7e296 url("../img/sprite.png") no-repeat;
  background-position: -10px -546px;
}

.search-form input {
  flex-grow: 1;
  padding-left: 38px;

  font: inherit;
  color:  inherit;
  text-transform: inherit;

  border: none;
  background-color: #f7e296;
  opacity: 0.3;
}

.search-form input:hover {
  opacity: 0.6;
}

.search-form input:focus { /*Check: not black color*/
  color: black;
  background-color: inherit;
  opacity: 1;
}

.search-form input:focus {
  border-bottom: 2px solid black;
  outline: none;
}

.search-form button { /*Check: size changes*/
  flex-grow: 0;
  padding: 14px 19px;
  display: none;

  border: 2px solid black;
  background-color: inherit;
}

.search-form input:focus + button {
  display: block;
}

.search-form button:hover {
  color: white;
  background-color: black;
}

.search-form button:active {
  color:rgba(255, 255, 255, 0.6);
  background-color: black;
}

/*Right-side tools----------*/
.header-tools a {/*Check: не получается выровнять вертикально*/
  position: relative;
  max-width: 80px; /*Check: надо?*/
  padding-left: 26px;

  line-height: 36px;
}

.header-tools .login {
  margin-right: auto;
}
.header-tools a {
  margin-right: 38px;
}
.header-tools a:last-child {
  margin-right: 0;
}

.header-tools a:before {
  content: "";
  position: absolute;
  top: 10px; /*Check: by icon size*/
  left: 0px;/*Check: by icon size*/

  width: 18px;
  height: 18px;

  background: #f7e296 url("../img/sprite.png") no-repeat;
}

.header-tools .login::before {
  background-position: -10px -640px;
}
.header-tools .compare::before {
  background-position: -10px -139px;
}
.header-tools .cart::before {
  background-position: -10px -10px;
}

/*Navigation line----------*/
.header-navigation {
  margin-bottom: 9px;

  font-family: "Gilroy ExtraBold", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em; /*Check: не подходит немного!*/
  text-transform: uppercase;
}

.header-navigation .content-left {
  position: relative;
}

.header-catalog {
  position: relative;
}

.header-catalog::before,
.header-catalog::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 230px;

  width: 16px;
  height: 2px;
  background-color: #b8a974;
  border-radius: 1px;
}

.header-catalog::before {
  transform: rotate(90deg);
}

.header-catalog:hover + .header-catalog-contents{
  display: block;
}

.header-catalog-contents {
  position: absolute;
  width: 1040px;
  top: 43px;
  right: 0;
  left: -60px;
  margin: 0px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 34px;
  z-index: 100; 

  display: none;
  list-style: none;
  background-color: #f7e296;
}

.header-catalog-line {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.header-catalog-line:hover { /*Check: не работает, меню исчезает*/
  display: block;
}

.header-catalog-line li{
  display: inline-block;
  vertical-align: middle;
  width: 235px;           /*Check: Квадрокоптеры не влезают*/

  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em; /*Check: не подходит немного!*/
  text-transform: none;
}

.header-info .contacts {
  margin-left: auto;
}

.header-info a {
  padding-right: 34px;
}

.header-info a:last-child {
  padding-right: 0;
}

/*Bottom line----------*/
.header-index-bottom {
  padding: 25px 0;
}

.header-stripe:before {
  margin-top: 56px;
  width: 100px;
  height: 7px;

  content: "";
  background-color: white;
}

/*Footer==========================*/
.main-footer {
  margin-left: -4px;
  padding: 56px 0;
  color: white;
  background-color: #464646;
}

.main-footer .content-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.main-footer a {
  color: white;
  background-color: inherit;
  text-decoration: none;
  opacity: 0.7;
}
.main-footer a:hover {
  opacity: 1;
}
.main-footer a:active {
  opacity: 0.3;
}

.main-footer .logo {
  color: #f7e184;
  background-color: inherit;
}

.main-footer .logo:hover {
  color: #f0c52e;
  background-color: inherit;
}

.main-footer .logo:active {
  color: #f0c52e;
  background-color: inherit;
  opacity: 0.3;
}

.footer-user-purchase a {  /*Check: не подходит немного!*/
  position: relative;
  max-width: 80px; /*Вопрос: надо?*/
  padding-left: 26px;
  padding-right: 33px;
}

.footer-user-purchase a:last-child {
  padding-right: 0;
}

.footer-user-purchase a:before {
  content: "";
  position: absolute;
  top: 3px; /*Check: by icon size*/
  left: 0px;/*Check: by icon size*/

  width: 18px;
  height: 18px;

  line-height: 36px;
  background: #464646 url("../img/sprite.png") no-repeat;
}

.footer-user-purchase a::before {
  opacity: 1;
}
.footer-user-purchase .login::before {
  background-position: -10px -674px;
}
.footer-user-purchase .compare::before {
  background-position: -10px -173px;
}
.footer-user-purchase .cart::before {
  background-position: -10px -44px;
}

.footer-user-purchase .login::before:hover {
  background-position: -10px -708px;
}
.footer-user-purchase .compare::before:hover {
  background-position: -10px -207px;
}
.footer-user-purchase .cart::before:hover {
  background-position: -10px -78px;
}

.footer-user-purchase .login::before:active {
  background-position: -10px -708px;
}
.footer-user-purchase .compare::before:active {
  background-position: -10px -207px;
}
.footer-user-purchase .cart::before:active {
  background-position: -10px -78px;
}

.footer-address,
.footer-phone {
  letter-spacing: normal;
}

.footer-services {
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
}

.footer-services a {
  padding-right: 30px;
  font-family: "Gilroy ExtraBold", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  opacity: 1;
}
.footer-services a:last-child {
  padding-right: 0px;
}
.footer-services a:hover {
  opacity: 0.7;
}
.footer-services a:active {
  opacity: 0.3;
}

.footer-stripe:before {
  vertical-align: top;
  display: inline-block; /*Check - норм для задания размеров?*/
  width: 80px;
  height: 7px;

  content: "";
  background-color: #f7e184;
}

.main-footer .content-line-last { /*Check: плохо задавать так размеры в последней линии - неравномерность?*/
  margin-top: 60px;
  margin-bottom: 6px;

  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 15px;

  vertical-align: top;
  text-decoration: none;

  background: #464646 url("../img/sprite.png") no-repeat center;
}

.social-btn-fb {
  background-position: -10px -241px;
}
.social-btn-in {
  background-position: -10px -407px;
}
.social-btn-tw {
  background-position: -10px -582px;
}

.footer-copyright {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin: 0 2px;

  vertical-align: top;
  text-decoration: none;

  background: #464646 url("../img/sprite.png") no-repeat center;
  background-position: -10px -299px;
}

/*Popups--------------------*/

.popup-map {
  display: none;
  position: absolute;
}

.popup-contact {
  display: none;
}

/*================================*/
/*============INDEX===============*/
/*================================*/

/*Promo---------------------------*/
.index-promo {
  position: relative;
  margin-top: -143px;
  margin-bottom: 95px;
}

.index-promo input[type=radio] {
  display: none;
}

.promo-controls {
  position: absolute;
  top: 328px; 
  right: 84px;

  /*margin: 0;
  padding: 0;*/
  z-index: 100; /*check: ok?*/

  font-size: 0;
}

.promo-controls label {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0;
  margin-left: 22px;
  border-radius: 50%;
  border: 3px solid black;
  vertical-align: middle;
  cursor: pointer;

  font-size: 16px; /*Check: НЕ надо*/

  opacity: 0.3;
}
.promo-controls label:hover {
  opacity: 0.4;
}

/*Check: ID + большая вложенность*/
#btn-promo-1:checked ~ .promo-controls label[for="btn-promo-1"],
#btn-promo-2:checked ~ .promo-controls label[for="btn-promo-2"],
#btn-promo-3:checked ~ .promo-controls label[for="btn-promo-3"] {
  opacity: 1;
}

#btn-promo-1:checked ~ .promo-inner .promo-slides { 
  transform: translate(0);
}
#btn-promo-2:checked ~ .promo-inner .promo-slides { 
  transform: translate(-1160px);
}
#btn-promo-3:checked ~ .promo-inner .promo-slides { 
  transform: translate(-2320px);
}

.promo-slides {
  width: 300%;
}

.promo-slides .promo-item {
  display: flex;
  float: left;
  width: 1160px;
}

.promo-inner {
  overflow: hidden;
}

.promo-item {
  display: flex;
  justify-content: flex-start;
}

.promo-item img{
  width: 560px;
  height: 497px;
}

.promo-item .content-left {
  margin-right: 40px;
}

.promo-item .content-right {
  position: relative;

  padding-right: 60px;
}

.promo-item-count {
  position: absolute;
  /*TODO: temp values*/
  top: -14px;
  right: 27px;

  font-family: "Gilroy ExtraBold", "Tahoma", sans-serif;
  font-size: 179px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: white;
  background-color: inherit;
}

.promo-item-title {
  position: relative;
  margin-top: 79px;
  margin-bottom: 19px;
}

.promo-item p {
  max-width: 481px; /*Check: так или через br?*/
  margin: 0px;
  margin-bottom: 44px;
}

.promo-item .btn {
  margin-bottom: 53px;
}

.promo-item-details {
  margin: 0;
  padding: 0;

  font-size: 0;
}

.promo-item-detail {
  display: inline-block;
  margin-right: 77px;

  vertical-align: middle;

  font-size: 16px;
}

.promo-item-detail:last-child {
  margin-right: 0;
}

.promo-item-detail span {
  margin-bottom:2px;

  font-family: "Gilroy Light", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  display: block; /*TODO: поменять как подойдет*/
}

/*catalog-----------------------*/
.index-catalog {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 180px;
}

.index-catalog-division img {
  display: block;
  width: 160;
  height: 160;
}

.index-catalog-division div {
  width: 160;
  height: 160;
  margin-bottom: 34px;
  background-color: #f7e296;
}
.index-catalog-division:hover div {
  background-color: #f0c52e;
}
.index-catalog-division:active img,
.index-catalog-division:active h4 {
  opacity: 0.3;
}

.index-catalog-division h4 {
  display: block;
  width: 160px;
  margin: 0; /*Check: link underline: text-decoration is none in h4*/
}

/*Services-------------------------*/
.index-services {
  margin-bottom: 94px;
  background-color: #e5e5e5;
}

.index-services input[type=radio] {
  display: none;
}

.index-services-content {
  position: relative;/*TODO: проверка по другим браузерам: вроде ОК*/
  display: flex;
  top: -70px;
}

.index-services-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 277px;/*Вопрос: почему ширина не работает?*/
  padding: 79px 0;
  margin-right: 116px;
  /*TODO: Граница больше фона: relative и отрицательный топ не работают*/
  border-right: 7px solid black;
}

.index-services-list .btn{
  /*TODO только для первичной разметки*/
  min-height: 40px;
}

.index-services-inner {
  overflow: hidden;
  width: 760px;
}

.index-services-slides {/*Вертикальная анимация - вертикальный скроллер?*/
  width: 300%;
}

.index-service { /*Вопрос: норм или лучше классы для понятности?*/
  float: left;
  width: 760px;

  background-repeat: no-repeat;
  background-size: 180px 196px;
  background-position: right 50px center;
}

.index-service p{ /*Вопрос: норм или лучше классы для понятности?*/
  width: 460px;
}

.index-services-delivery {
  background-image: url("../img/services-delivery.png");
}

.index-services-warranty {
  background-image: url("../img/services-warranty.png");
}

.index-services-credit {
  background-image: url("../img/services-credit.png");
}

/*Brands--------------------------*/
.index-brands {
  display: flex;
  justify-content: space-between;
}

.index-brands a {/*Check: this way?*/
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%); 
}
.index-brands a:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%); 
}

/*Info----------------------------*/
.index-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.index-info section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
}

/*================================*/
/*============CATALOG=============*/
/*================================*/
.catalog {
  display: flex;
  justify-content: center;
}

.catalog-left,
.catalog-right{
  flex-grow: 1;
}

.catalog-left, 
.catalog-right {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/*---left---*/
.catalog-left-header {
  display: flex;
  justify-content: flex-end;
  background-color: #dcdcdc;
}

.catalog-filter-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #efefef;
  flex-grow: 1;
}

.catalog-left-header > * ,
.catalog-filter-block > * {
  width: 200px;
  padding-left: 80px;
  padding-right: 68px;
}

/*---right---*/
.catalog-right-header {
  display: flex;
  justify-content: flex-start;
  background-color: #efefef;
}

.catalog-content-block {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-right-header > *,
.catalog-content-block > * {
  width: 760px;
  padding-left: 72px;
  padding-right: 20px;
}

.catalog-content-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 70px;
}

.catalog-sorting-block {
  display: flex;
  justify-content: space-between;
}

.catalog-sorting-types {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.catalog-sorting-types li{
  display: inline-block;
  vertical-align: middle;

  font-size: 16px; /*TODO: CHECK*/
}

.catalog-content-item {
  position: relative;
  margin-bottom: 45px;
}

.catalog-content-item .btn, 
.catalog-content-item .compare{
  position: absolute;
  /*TODO: temp*/
  display: none;
}

.catalog-content-item .price-box {
  display: flex;
  justify-content: space-between;
}

.catalog-pages-block {
  display: flex;
  padding-right: 0;
  padding-left: 0;
  margin-right: 20px;
  margin-left: 73px;
  margin-bottom: 73px;
  justify-content: space-between;
  background-color: #efefef;
}

.catalog-pages-block > *{
  padding: 20px 30px;
}
/*ВОПРОС: цвета?*/